DB_CONNECTION_STRING_ONLINE = "mongodb+srv://warexxplus:z2VxesuiEwLdRLJx@disklinigi.n3h3ejm.mongodb.net/?retryWrites=true&w=majority&appName=disklinigi"
DB_CONNECTION_STRING_LOCAL = "mongodb://localhost:27017/DisciSistemi"
SECRET_KEY = "DuP1-W4r3X"
ENVIRONMENT = "local"

# ADMIN INFO
ADMIN_PHONE = "05555555555"
ADMIN_PASSWORD = "servettoprak"
ADMIN_NAME = "Servet TOPRAK"
LOGO = "/assets/images/logo-icon.png"
IMG = "/assets/images/logo-img.png"
FAVICON = "/assets/images/favicon-32x32.png"
SYSTEM_NAME = "Servet Toprak | Diş Kliniği"

# PRINT INFOS
PRINT_MESSAGE = "Diş sağlığınız için her zaman yanınızdayız, iyi günler dileriz"