extends ../../../layout

block content
    .row
        .col-md-2
        .col-12.col-md-9
            h6.mb-0.text-uppercase Doktor Ekle
            hr
            .card
                .card-body
                    form(method="POST")
                        .row.mb-2
                            .col-12.col-md-4.mb-2.mb-md-0
                                label(for="hastaAdi") Doktor Adı 
                                input#hastaAdi(type="text" name="name" placeholder="Doktor adı giriniz").form-control


                            .col-12.col-md-4.mb-2.mb-md-0
                                label(for="telno") Telefon Numarası
                                input#telno(type="tel" name="phone" placeholder="05xxxxxxxxx" maxlength="11").form-control

                            .col-12.col-md-4.mb-2.mb-md-0

                                label.form-label(for='inputChoosePassword') Parola Oluştur
                                #show_hide_password.input-group
                                    input#inputChoosePassword.form-control(type='password' name="password" placeholder='Parola Giriniz')
                                    a.input-group-text.bg-transparent(href='javascript:;')
                                        i.bx.bx-hide

                        .row.mt-4
                            .col-md-9
                            .col-12.col-md-3
                                button(type="submit").btn.btn-sm.btn-outline-primary.col-12
                                    i.bx.bx-user-plus
                                    | Doktor Ekle 

block jscode
    script.
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bx-hide");
                    $('#show_hide_password i').removeClass("bx-show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bx-hide");
                    $('#show_hide_password i').addClass("bx-show");
                }
            });
        });