extends ../../../layout


block content
    .row
        .col-12.col-md-10.d-flex.mx-auto
            .card.radius-10.w-100
                .card-header
                    .d-flex.align-items-center
                        div
                            h6.mb-0 İşlemler
                        .ms-auto
                            a.btn.btn-sm.btn-outline-primary(href="/Admin/Islem/Ekle")
                                i.bx.bx-plus-circle.font-22
                                | İşlem Ekle

                .card-body
                    .table-responsive
                        table.table.align-middle.mb-0.table-striped.table-bordered.dataTable.nowrap-disabled#islemler
                            thead.table-light
                                tr.text-center
                                    th #
                                    th İşlem Adı
                                    th İşlem Ücreti
                                    th İşlemler
                            tbody
                                each islem, i in islemler
                                    tr
                                        th= (i+1)
                                        th= islem.ad
                                        td= islem.ucret
                                        td.text-center
                                            button.btn.btn-outline-primary.px-5.radius-30.btn-sm.m-1
                                                i.bx.bx-edit

                                            button(data-islem-id= islem._id).btn.btn-outline-danger.px-5.radius-30.btn-sm.m-1.islem-sil
                                                i.bx.bx-trash






block csscode
    link(href="/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    style.
        #hastalar td {
            white-space: normal;
            word-wrap: break-word;
        }

block jscode
    script(src="/assets/plugins/datatable/js/jquery.dataTables.min.js") 
    script(src="/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")
    script.
        $(document).ready(function (){
            $('#islemler').DataTable( {
                lengthChange: false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.2/i18n/tr.json",
                },
            });

            $('.islem-sil').on('click', function(){
                var islemId = $(this).attr('data-islem-id');
                var sor = confirm('Bu işlemi silmek istiyor musunuz?');
                if (sor) {
                    $.ajax({
                        url: '/Admin/Islem/Sil',
                        type: 'POST',
                        data: {
                            islemid: islemId
                        },
                        success: function(response){
                            location.reload();
                        }
                    })
                }
            })
        })