extends ../../../layout


block content
    .row
        .col-12.col-md-10.d-flex.mx-auto
            .card.radius-10.w-100
                .card-header
                    .d-flex.align-items-center
                        div
                            h6.mb-0 İşlemler
                        .ms-auto
                            a.btn.btn-sm.btn-outline-primary(href="/Admin/Islem/Ekle")
                                i.bx.bx-plus-circle.font-22
                                | İşlem Ekle

                .card-body
                    .table-responsive
                        table.table.align-middle.mb-0.table-striped.table-bordered.dataTable.nowrap-disabled#islemler
                            thead.table-light
                                tr.text-center
                                    th #
                                    th İşlem Adı
                                    th İşlem Ücreti
                                    th İşlemler
                            tbody


                                tr
                                    th 1
                                    th Diş Çekimi
                                    td 3.000₺
                                    td.text-center
                                        button.btn.btn-outline-primary.px-5.radius-30.btn-sm.m-1
                                            i.bx.bx-edit
                                        button.btn.btn-outline-danger.px-5.radius-30.btn-sm.m-1
                                            i.bx.bx-trash

                                tr
                                    th 2
                                    th Kanal Tedavi
                                    td 5.000₺
                                    td.text-center
                                        button.btn.btn-outline-primary.px-5.radius-30.btn-sm.m-1
                                            i.bx.bx-edit
                                        button.btn.btn-outline-danger.px-5.radius-30.btn-sm.m-1
                                            i.bx.bx-trash


block csscode
    link(href="/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    style.
        #hastalar td {
            white-space: normal;
            word-wrap: break-word;
        }

block jscode
    script(src="/assets/plugins/datatable/js/jquery.dataTables.min.js") 
    script(src="/assets/plugins/datatable/js/dataTables.bootstrap5.min.js")
    script.
        $(document).ready(function (){
            $('#islemler').DataTable( {
                lengthChange: false,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/2.3.2/i18n/tr.json",
                },
            });
        })