extends ../../../layout

block content
    .row
        .col-md-2
        .col-12.col-md-9
            h6.mb-0.text-uppercase İşlem Ekle
            hr
            .card
                .card-body
                    .row.mb-2
                        .col-12.col-md-4.mb-2.mb-md-0
                            label(for="islemAdi") İşlem Adı 
                            input#islemAdi(type="text" name="islemAdi" placeholder="İşlem adı giriniz").form-control




                    .row.mt-4
                        .col-md-9
                        .col-12.col-md-3
                            button(type="submit").btn.btn-sm.btn-outline-primary.col-12
                                i.bx.bx-user-plus
                                | İşlem Ekle 

block jscode
    script.
        $(document).ready(function () {

        });