extends ../../../layout

block content
    .row
        .col-md-2
        .col-12.col-md-9
            h6.mb-0.text-uppercase Hasta Ekle
            hr
            .card
                .card-body
                    .row.mb-2
                        .col-12.col-md-4.mb-2.mb-md-0
                            label(for="hastaAdi") Hasta Adı 
                            input#hastaAdi(type="text" name="hastaAdi" placeholder="Hasta adı giriniz").form-control.border-0
                        .col-12.col-md-4
                            label(for="tani") Tanı
                            input#tani(type="text" name="tani" placeholder="Hasta tanısını giriniz").form-control.border-0
                        .col-6.col-md-2
                            label(for="ucret") Ücret
                            input#ucret(type="number" name="ucret" placeholder="0").form-control.border-0
                        .col-6.col-md-2
                            label(for="odenen") Ödenen Miktar
                            input#odenen(type="number" name="odenen" placeholder="0").form-control.border-0
                    .row.mb-2
                        .col-12
                            label(for="aciklama") Tanı Açıklaması
                            textarea#aciklama(name="aciklama").form-control.border-0
                    .row.mb-2
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="doktorAdi") Doktor Seçiniz
                            select#doktorAdi(name="doktorAdi").form-control.border-0
                                option(value="onur") Onur YOLBAŞ
                                option(value="servet") Servet TOPRAK
                                option(value="sedat") Sedat ARABOĞA
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="randevuTarih") Randevu Saati
                            input#randevuTarih(type="datetime-local" name="randevuTarih").form-control.border-0
                        .col-12.col-md-3.mb-2.mb-md-0
                            label(for="telno") Telefon Numarası
                            input#telno(type="tel" name="telno" placeholder="5xxxxxxxxx" maxlength="10").form-control.border-0
                        .col-12.col-md-3
                            label(for="tcno") T.C. Kimlik Numarası
                            input#tcno(type="text" name="tcno" placeholder="T.C. Kimlik Numarası" maxlength="11").form-control.border-0
                    .row.mt-4
                        .col-md-9
                        .col-12.col-md-3
                            button(type="submit").btn.btn-sm.btn-outline-primary.col-12
                                i.bx.bx-user-plus
                                | Hastayı Kaydet 